# bundler state
/.bundle
/vendor/bundle/

# be nice to strangers, let them set their own .rvmrc
.rvmrc

# like authoring a gem, don't include Gemfile.lock
Gemfile.lock

# veewee specific downloads
/iso/*.iso

# veewee built boxes
*.box

# scm revert files
**.orig

# mac finder poop
.DS_Store

# textmate project files
/*.tmpproj

# vim poop
**.swp
